.refresh-btn {
    width: 40px;
    height: 40px;
    border: none;
    // background: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  
    &:hover {
    //   background: #0056b3;
    //   color: white;
    }
  
    i {
      font-size: 18px;
      transition: transform 0.5s ease-in-out;
    }
  
    &.spinning i {
      animation: spin 1s linear infinite;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  